body{
    margin: 0 auto;
}

div.mega-menu-container{
    width:908px;
    background-color: #E3E9AD;
    display: flex;
    font-family: Verdana, sans-serif;
    position: relative;
}

div.mega-menu-container > ul{
    padding:0.589rem;
    color: #993333;
    margin: 0;
}

div.mega-menu-container > ul:hover{
    background-color: #993333;
    color: white;
    cursor: pointer;
}

div.mega-menu-container ul li{
    list-style: none;
    top: 100%;
    left: 0;
    right: 0;
}

div.mega-menu-container ul li a{
    text-decoration: none;
    color:inherit;
}

/*div.mega-menu-container ul li:hover{
    color:red;
}*/

.mega-menu-hover{
    display: none;
    position: absolute;
    background-color: #c55353;
    padding: 1rem;
}

div.mega-menu-container ul:hover > li:nth-child(2){
    display: flex;
}

/*#day-tours > li.mega-menu-hover > ul.first-row > li:nth-child(1) > h3{
    color: blue !important;
}*/
.mega-menu-hover ul li h3{
    color: cornsilk;;
}

.mega-menu-hover ul li a:visited{
    color: black;
}

.mega-menu-hover ul li a:hover{
    color: cornsilk;
}